@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  padding: 1rem 2rem 1rem 2rem;
  overflow-x: hidden;
  background-color: #263238; 
}

@media screen and (max-width: 1024px) {
  body {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 1023px) {
  #rounded-border {
    display: none;
  }

  body {
    padding: 0rem;
  }  

}
